@model List<People>

@{
    ViewData["Title"] = "Index";
}

<h1>People List</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
               
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
