@model List<HomeConcertViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-4">
    @foreach(var item in Model)
    {
        <div class="col-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="@item.ConcertImage" alt="Card image cap" style="height:200px;width:260px">
                <div class="card-body">
                    <h5 class="card-title">@item.ConcertName</h5>
                    <h5 class="card-title">@item.ArtistName</h5>
                    <p class="card-text">@item.Description</p>
                    <a asp-action="Details" asp-route-id="@item.ConcertId" class="btn btn-primary">Book Now</a>
                </div>
            </div>
          </div>

    }
</div>
